services:
  mongo-db:
    container_name: mongo-example
    image: mongo:latest
    ports:
      - "6000:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
    networks:
      - mongo-connection

networks:
  mongo-connection:
    name: mongo-network
    driver: bridge
