services:
  mongo-db:
    container_name: mongo-example
    image: mongo:latest
    ports:
      - "6000:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=admin123
    volumes:
      # this mount is windows, because of my terminal wsl so cant work at windows
      - "./data:/data/db"